pkgbase = vim-youcompleteme-git
	pkgdesc = A code-completion engine for Vim
	pkgver = r2540.afd69b38
	pkgrel = 1
	url = https://github.com/Valloric/YouCompleteMe
	install = install
	arch = any
	groups = vim-plugins
	license = GPL3
	makedepends = cmake
	makedepends = git
	makedepends = make
	makedepends = curl
	makedepends = go
	makedepends = npm
	depends = boost
	depends = boost-libs
	depends = nodejs
	depends = vim
	depends = clang
	depends = omnisharp-roslyn
	depends = rustup
	depends = python-requests-futures
	depends = python-certifi
	depends = python-future
	depends = python-bottle
	depends = python-frozendict
	depends = python-waitress
	depends = python-regex
	depends = python-jedi
	depends = python-parso
	depends = python-numpydoc
	source = git+https://github.com/Valloric/YouCompleteMe.git
	source = git+https://github.com/Valloric/ycmd.git
	source = git+https://github.com/davidhalter/jedi.git
	source = git+https://github.com/davidhalter/parso.git
	source = git+https://github.com/numpy/numpydoc
	source = git+https://github.com/ross/requests-futures.git
	source = git+https://github.com/requests/requests.git
	source = git+https://github.com/kjd/idna.git
	source = git+https://github.com/certifi/python-certifi.git
	source = git+https://github.com/chardet/chardet.git
	source = git+https://github.com/urllib3/urllib3.git
	source = git+https://github.com/bottlepy/bottle.git
	source = git+https://github.com/slezica/python-frozendict.git
	source = git+https://github.com/PythonCharmers/python-future.git
	source = git+https://github.com/Pylons/waitress.git
	source = git+https://github.com/micbou/regex.git
	source = git+https://go.googlesource.com/tools.git
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = vim-youcompleteme-git

