pkgbase = vim-youcompleteme-git
	pkgdesc = A code-completion engine for Vim
	pkgver = r2935.4237c464
	pkgrel = 1
	url = https://github.com/Valloric/YouCompleteMe
	install = install
	arch = any
	groups = vim-plugins
	license = GPL3
	makedepends = cmake
	makedepends = git
	makedepends = make
	makedepends = curl
	makedepends = go
	makedepends = npm
	depends = boost
	depends = boost-libs
	depends = nodejs
	depends = vim
	depends = clang
	depends = rustup
	depends = python
	noextract = omnisharp-mono.tar.gz
	source = git+https://github.com/Valloric/YouCompleteMe.git
	source = git+https://github.com/ycm-core/ycmd.git
	source = git+https://github.com/davidhalter/jedi.git
	source = git+https://github.com/davidhalter/parso.git
	source = git+https://github.com/davidhalter/typeshed.git
	source = git+https://github.com/davidhalter/django-stubs
	source = git+https://github.com/numpy/numpydoc
	source = git+https://github.com/bottlepy/bottle.git
	source = git+https://bitbucket.org/mrabarnett/mrab-regex.git
	source = git+https://github.com/gorakhargosh/watchdog
	source = https://github.com/OmniSharp/omnisharp-roslyn/releases/download/v1.37.11/omnisharp-mono.tar.gz
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = cc6d03e9f368a386213ce6e5b994789ef1a79aa80398f77bd85146bccc68754a

pkgname = vim-youcompleteme-git
