pkgbase = python-numpydoc
	pkgdesc = Sphinx extension to support docstrings in Numpy format
	pkgver = 0.9.2
	pkgrel = 1
	url = https://github.com/numpy/numpydoc
	arch = any
	license = BSD
	depends = python-sphinx
	options = !emptydirs
	source = python-numpydoc-0.9.2.tar.gz::https://github.com/numpy/numpydoc/archive/v0.9.2.tar.gz
	sha512sums = 765f096cf48710c80fa0e131ce8e06de9d61f214829924b3c109d6b938dfa011bbf79965e07e49640c11f74ac262d3fef176ae4f651016ec81d5bc252141b9eb

pkgname = python-numpydoc

