pkgbase = vim-lightline-git
	pkgdesc = A light and configurable statusline/tabline for Vim
	pkgver = r516.6f84195
	pkgrel = 1
	url = https://github.com/itchyny/lightline.vim
	install = lightline.install
	arch = any
	license = MIT
	makedepends = git
	depends = vim-runtime
	depends = neovim
	provides = vim-lightline
	conflicts = vim-lightline
	conflicts = vim-lightline-git
	source = vim-lightline::git://github.com/itchyny/lightline.vim
	md5sums = SKIP

pkgname = vim-lightline-git

